img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-align-right {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.navbar .dropdown-menu {
    background-color: #f0ad4e;
}

* {
    box-sizing: border-box;
  }
  .switch-button {
    background: rgb(238, 235, 235);
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    margin: auto;
  }
  .switch-button:before {
    content: "Manual";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(120px);
    transition: transform 300ms linear;
  }
  .switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 5px 0;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: #ffc107;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
  }

  .form-check-input[type="radio"]:checked {
    background-color: #ffc107;
  }


@media screen and (max-width: 991px) {
    
    .border-bottom-lg {
        border-bottom: 4px solid black;
    }

    .border-end-lg-0 {
        border-right: 0 !important;
    }
}